{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Review</title>
    <style>
        body {
            width: 100vw;
            height: 500px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.7)), url('static/images/pic1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            max-width: 100%;
            overflow-x: hidden;
            background-attachment: fixed;
            background-blend-mode: multiply;
        }
    </style>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['Country', 'Popularity'],
                ['{{movie.con1}}', parseInt('{{movie.val1}}')],
                ['{{movie.con2}}', parseInt('{{movie.val2}}')],
                ['{{movie.con3}}', parseInt('{{movie.val3}}')],
                ['{{movie.con4}}', parseInt('{{movie.val4}}')],
                ['{{movie.con5}}', parseInt('{{movie.val5}}')]
            ]);

            var options = {};

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var veri = '{{movie.verif}}'
            var nor = '{{movie.normal}}'
            console.log(veri)
          var data = google.visualization.arrayToDataTable([
                ['User type', 'No of users'],
                ['Non-Verified Users', parseInt(nor)],
                ['Verified Users', parseInt(veri)]
          ]);
  
          var options = {
            pieHole: 0.4,
            sliceVisibilityThreshold: .0001,
          };
  
          var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
          chart.draw(data, options);
        }
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">People's Review</a>
            <form action="info" method="post" class="d-flex">
                {% csrf_token %}
                <input class="form-control me-2" type="search" name="searchValue" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br><br><br><br><br>
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/pic1.jpg' %}" class="card-img-top" alt="poster">
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 50rem;">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Movie Info
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                <h5 class="card-title"><b>{{movie.title}}</b></h5>
                                <p class="card-text"><b>Description:</b> {{movie.desc}}</p>
                                <a href="https://www.imdb.com/" class="btn btn-primary"
                                    style="margin: 5px;"><b>IMDB_rating:</b>
                                    {{movie.imdb}}</a>
                                <span class="badge bg-secondary"
                                    style="margin: 5px; border:1px; padding: 6px 12px;"><b>Twitter
                                        Rating:</b> {{movie.sent_val}}% ({{movie.review}})</span>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Genre:</b> {{movie.genre}}</li>
                                <li class="list-group-item"><b>Cast & Crew:</b>
                                    {% for i in movie.cnc %}
                                    {{i}},
                                    {% endfor %}
                                    and others.</li>
                                <li class="list-group-item"><b>Where to watch?:</b> {{movie.wtw}}</li>
                                <li class="list-group-item"><b>Should you watch?:</b> {{movie.won}}</li>
                                <li class="list-group-item"><b>Trailer:</b> <a href="{{movie.trailer}}"
                                        class="link-primary">{{movie.trailer}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Popular Tweets
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <ul>
                                    {% for i in movie.tweets %}
                                    <li class="list-group-item">
                                        <blockquote class="twitter-tweet">
                                            <a href="{{i}}"></a>
                                        </blockquote>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Which countries are talking about this?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div id="regions_div" style="width: 500px; height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What is influencer hand in this topic?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <div id="donutchart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>