{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Review</title>
    <style>
        body {
            width: 100vw;
            height: 500px;
            background-image: url('static/images/pic1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            max-width: 100%;
            overflow-x: hidden;
        }
    </style>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">People's Review</a>
            <form action="info" method="post" class="d-flex">
                {% csrf_token %}
                <input class="form-control me-2" type="search" name="searchValue" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br><br><br><br><br>
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/pic1.jpg' %}" class="card-img-top" alt="poster">
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">Description: {{movie.desc}}</p>
                    <a href="https://www.imdb.com/" class="btn btn-primary">IMDB_rating: {{movie.imdb}}</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Genre: {{movie.genre}}</li>
                    <li class="list-group-item">Cast & Crew:
                        {% for i in movie.cnc %}
                        {{i}},
                        {% endfor %}
                        and others.</li>
                    <li class="list-group-item">Where to watch?: {{movie.wtw}}</li>
                    <li class="list-group-item">Should you watch?: {{movie.won}}</li>
                    <li class="list-group-item">Trailer: <a href="{{movie.trailer}}" class="link-primary">{{movie.trailer}}</a></li>
                    {% for i in movie.tweets %}
                        <li class="list-group-item">
                            <blockquote class="twitter-tweet">
                                <a href="{{i}}">May 3, 2021</a>
                            </blockquote>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>

</html>